.li-style{
  color: red;
}

.li-style a,button{
  font-size: 18px;
}

.li-style a:hover{
  background-color: white;
  color: gray;
}

/* make text small for medium and small device  */
@media screen and (max-width:786px) {
  .li-style a{
    font-size: 16px;
  }
}